body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica"
}

.header {
    color: white;
    background-color: #37393d
}

.content {
    padding: 2% 10%
}

.float-left {
    float: right
}

.school-board-name {
    margin-left: 14px;
    font-size: 25px
}

.navigation {
    margin-left: 0;
    margin-bottom: 20px;
    padding-left: 0;
}

.main-content {
    margin-left: 15px
}

.group-section {
    margin-bottom: 20px;
}

.group-section-contact {
    margin-bottom: 0px;
}


.field-section {
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 20px;
    font-size: 15px;
}

.field-section-contact {
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 15px;
    font-size: 15px;
}

.field-content {
    font-size: 20px
}

.field-name {
    font-weight: bold;
    font-size: 12px;
    border-top: black 1px;
    color: #47494c;
}

.contact-section {
    margin-bottom: 25px;
}

.input-error {
    border: solid 1px red;
}

.error-msg {
    color: red;
}

.btn-margin {
    margin-right: 10px;
}

.add-contact-btn {
    padding: 3px;
    margin-left:25%;
}

ul.nav-pills {
    font-size: 15px;
}

ul.nav a:hover {
    color: green;
    background-color: white;
    border-bottom: 5px solid green;
}

ul.nav a:active {
    color: green;
    background-color: white;
    border-bottom: 5px solid green;
}

ul.nav a:focus {
    color: green;
    background-color: white;
    border-bottom: 5px solid green;
}

.active {
    color: green;
    border-bottom: 5px solid green;
}

.active2 {
    color: white;
    background-color: #484c47;
}